html, body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font: 1em "Fira Sans", sans-serif;
}
canvas {
  display: block;
}

button {
  background-color: #9C2ECC;
  border: 1px solid #E5ECEF;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font: 1em "Fira Sans", sans-serif;
  /* text-decoration: none; */
  /* display: inline-block; */
  transition-duration: 0.4s;
}

button:hover {
	background-color: #C43BFF;
}

div {
  display: flex;
  flex-direction: column;
color: white;
  text-decoration: none;
  background-color: #141414;
  border: 1px solid #E5ECEF;
  text-align: center;

}

#Menu {
  position: absolute;
  top: 40px; left: 40px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  background-color: #141414;
  border: 1px solid #E5ECEF;
  text-align: center;
}

#Menuheader {
  padding: 10px;
  border: 1px solid #E5ECEF;
  cursor: move;
  z-index: 10;
  background-color: #EB316B;
  color: #fff;
}
